/* Global variable */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    list-style: none;
    color: #272727;
    text-decoration: none;
}

body {
    background-image: url(./images/flat-lay-yellow-luggage-with-copy-space.jpg);
    background-position: bottom;
    background-size: cover;
}


/* Navigation */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #272727;
}

.nav-link {
    display: flex;
    align-items: center;
}

.nav-link li {
    margin: 0px 30px;
}


/* Header */

header {
    width: 100vw;
    height: 100vh;
    /* background-image: url(./images/flat-lay-yellow-luggage-with-copy-space.jpg); */
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: #272727;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 60px;
    margin-bottom: 140px;
}

hr {
    width: 150px;
    height: 4px;
    background-color: red;
    margin: 10px auto;
    border: 0;
}


/* .line { 
    width: 150px;
    height: 4px;
    background-color: red;
    margin: 10px auto;
}*/

.ctn {
    padding: 8px 15px;
    background: #FF652F;
    border-radius: 30px;
    color: bisque;
}

.menubtn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:850px) {
    .menubtn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 20px;
    }
    .nav-link {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: burlywood;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .nav-link li {
        margin: 30px auto;
    }
    .mobile-menu {
        margin-top: 0px;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    body,
    html {
        overflow: hidden;
    }
}